include templates/mixins

html
  body
    .page_wrapper
      .page_center
        .poster_w.content
          #poster_background
          .row
            #title_block.section.full.first_text
              // 1200 x 200 pixels
              img(src=require('./assets/img/Poster--Title_2.svg')['default'])
              .info
                .title
                  #title_title
                    - var imgpath = require('./assets/img/Title--SugarGain_logo.png')['default']
                    +img("title-one", imgpath, "", 80, "3rem 0")
                .text
                  #title_content
                    p Shruti Sridhar, Gourav Saha, Pranav Ballaney, Yogen Borkar, Ameya Thete, Saransh Gokhale, Sharanya Shastri, Arya Agarwal, Naman Choudhary, Suhas Badadal, Ithihas Madala, Shrilaxmi Patil, Sumit Biswas, Malabika Biswas
                    p Birla Institute of Technology and Science, Pilani - K. K. Birla Goa Campus, India

                    h3 Abstract
                    p Sugarcane faces the issue of post-harvest sucrose deterioration. This loss is caused by the activity of an enzyme called invertase. Post harvest, invertase cleaves sucrose which reduces sugar retrieval rates by up to 10.25%. We wanted to devise a solution that initiated grassroots-level changes for farmers. The farmer would administer our novel polymer-based inoculant, which would release our bacteria into the stem of the sugarcane, by employing an injector mechanism. Once inside, our genetic circuit inside the bacterial E.coli chassis is designed to exhibit anti-invertase activity, regulated by the amount of fructose inside the sugarcane in a continuous and controlled manner, through a biosensor mechanism. We propose to use a modified type II ccdA-ccdB toxin-antitoxin system as our kill switch that is activated upon exposure to atmospheric concentrations of oxygen. We have also kept in mind the significance of biosafety and designed a robust three-tier failsafe mechanism.
          .row
            #inspiration_block.section.full
              // 1200 x 200 pixels
              img(src=require('./assets/img/Poster--Title_red.svg')['default'])
              .info
                .title
                  #inspiration_title
                    h1 Inspiration and Motivation 
                .text
                  #inspiration_content
                    p India is still primarily an agrarian economy, with the sector contributing to almost 15.4 percent of the net Gross Domestic Product (The World Factbook: India, n.d.) and around 58.6 percent of the population is engaged in some form of agricultural activity. Agriculture is therefore, not only a means of income for a majority of the Indian population, but also a form of cultural identity for farmers across the nation. 
                    p Sugarcane is also one of the most widely-grown cash-crop in the country and is cultivated on around 50 million hectares of land.  Furthermore, sugarcane is also a major crop in countries such as Brazil, Mauritius, Mexico, Cuba and Indonesia. 
                    p We therefore chose to work on a problem plaguing both sugarcane farmers and the sugar industry: the problem of post-harvest sucrose deterioration.  The motivation to bring about change for sugarcane farmers  gave birth to our project SugarGain - where we aim to reduce post harvest losses and increase sugar recovery rates. 
                    p SugarGain is our way of making the world a sweeter place (quite literally!).
                    .custom-row.align-items-center
                      .col
                        img(src=require('./assets/img/sugargain-small-transparent.png')['default']).w-50
          .row
            #design_block.section.full
              img(src=require('./assets/img/Poster--Design.svg')['default'])
              .info
                .title 
                  #design_title
                    h1 Project Design
                .text
                  #design_content

                    .custom-row
                      .col.f-40
                        div
                          h2 pFruB-Cra Construct
                          p The pFruB-Cra construct has been designed to express anti-invertase according to the levels of fructose in the sugarcane stem. In the absence of fructose, the FruR transcription factor represses the pFruB promoter which is in control of anti invertase expression.
                          p Once there is fructose in the system, it is capable of binding to FruR (In the form of Fructose-1-Phosphate) and reducing FruR’s affinity for pFruB. This way, anti invertase production is increased.
                          h2 Atmosphere-Regulated Kill Switch
                          p The kill switch is an important part since our product is closely associated with a common  consumable. 
                      .col.f-60
                        - var imgpath = require('./assets/img/Poster--Design_pFruB_small.gif')['default']
                        +img("design--pFruB", imgpath, "pFruB")

                    .custom-row 
                      .col.f-60
                        - var imgpath = require('./assets/img/Poster--Design_KS.gif')['default']
                        +img("design--KS", imgpath, "KS")
                      .col.f-40
                        div
                          p It was constructed by modifying the ccdB/ccdA toxin-antitoxin system by introducing the FNR promoter. The toxin, ccdB, is constitutively expressed, whereas the ccdA antitoxin is expressed only in a hypoxic environment (evidently, inside the sugarcane stem), due to the activity of the FNR promoter. 
                          p When simultaneously expressed, ccdA and ccdB form a degradation complex. This way, the bacteria survive inside the sugarcane stem.
                          p However, in an aerobic environment (the external atmosphere), the FNR promoter is repressed and ccdA production is ceased. This leads to a rapid increase in the ratio of toxin-antitoxin concentration and eventually cell death.
          .row
            #modelling_block.section.third
              // 400 x 200 pixels
              img(src=require('./assets/img/Poster--Modelling_red.svg')['default'])
              .info
                .title
                  #modelling_title
                    h1 Modelling
                .text
                  #modelling_content
                    p We have designed six models that cover various aspects of SugarGain. A few important ones have been highlighted below.

                    .custom-row
                      .col.f-60
                        div
                          h2 Growth Model
                          p The growth model helped us prove the fact was able to survive and replicate within the sugarcane matrix with a nontrivial growth rate. We were able to determine a closed-form function that modelled this growth.
                          h2 Virtual Screening
                          p  The virtual screening model helped us determine the structure of sugarcane invertase. We also determined the  
                      .col.f-40
                        - var imgpath = require('./assets/img/Growth_Model--GrowthPrediction.png')['default']
                        +img("modelling-growth", imgpath, "Growth Model", 90)

                    p.mt--20 structure’s correctness using its QMEAN score and Ramachandran plots. We found that Arabidopsis inhibitor had the lowest binding energy and therefore it could be used as a substitute for sugarcane anti-invertase for our downstream experiments.
                    .custom-row
                      .col
                        - var imgpath = require('./assets/img/VS--Ramachandran Plot.png')['default']
                        +img("modelling-vs-rama", imgpath, "Ramachandran Plot from Virtual Screening", 73 )
                      .col
                        - var imgpath = require('./assets/img/VS--Arabidopsis inhibitor.png')['default']
                        +img("modelling-vs-ara", imgpath, "Arabidopsis Inhibitor")
                    .custom-row
                      .col.f-70
                        div
                          h2 pFruB-Cra Construct
                          p Our model is the first-of-its-kind as we could not find any other mathematical model of the construct in literature. Teams in the future can now use this model in their projects and build upon it even further. 
                          h2 
                            em In silico
                            |  simulation of the Kill Switch

                          p The kill switch model involved an in silico simulation of the kill switch construct. We determined the response time using the model, and we found using a perturbative sensitivity approach that this can be reduced using techniques like mutagenesis
                      .col.f-30
                        - var imgpath = require('./assets/img/Model--equations.png')['default']
                        +img("modelling-pFruB", imgpath, "Equations for the pFruB-Cra Construct")
                    .custom-row
                      .col.f-70
                        - var imgpath = require('./assets/img/Kill_Switch--KillSwitchGraph.png')['default']
                        +img("modelling-KS-graph", imgpath, "Kill switch simulation results")
                      .col.f-30
                        - var imgpath = require('./assets/img/Kill_Switch--Sensitivity.png')['default']
                        +img("modelling-KS-sensitivity", imgpath, "Kill switch sensitivity analysis", 95)

                    p Apart from these four models we have also designed an auxotrophy model as part of our three tier biosafety mechanism; and a model to minimise our polymer inoculant toxicity. 
            #engineering_block.section.third
              // 400 x 200 pixels
              img(src=require('./assets/img/Poster--Engineering.svg')['default'])
              .info
                .title 
                  #engineering_title
                    h1 Engineering
                  #engineering_content
                    - var imgpath = require('./assets/img/Engineering--pFruB_poster.jpg')['default']
                    +img("engineering--pFruB", imgpath, "pFruB-Cra Construct", 50)
                    - var imgpath = require('./assets/img/Engineering--KS_poster.jpg')['default']
                    +img("engineering--KS", imgpath, "KS Construct", 50)
            #safety_block.section.third
              img(src=require('./assets/img/Poster--Safety_red.svg')['default'])
              .info
                .title 
                  #safety_title
                    h1 Safety
                .text 
                  #safety_content
                    p Since our product, SugarGain, will be closely associated with sugar and sugarcane pb, we wanted to enforce robust measures to ensure biosafety. We came up with a three-tier biosafety mechanism.
                    p As the first layer of biosafety, we wanted to render the bacteria auxotrophic to the sugarcane environment. Since nitrogenous amino acid levels remain constant inside the sugarcane even when nitrogen fertilisers are used, we planned to use HPLC to determine the exact amino acids that the bacteria will be auxotrophic to. The second failsafe will be our atmosphere regulated kill switch construct (please see project design section). The third failsafe lies in the processing of sugarcane juice itself. Various steps are involved in turning the juice into consumable sugar including heating the juice to temperatures beyond 100°C which should kill the bacteria.
                    br
                    .custom-row.justify-content-center
                      - var imgpath = require('./assets/img/Safety--Biosafety.png')['default']
                      +img("safety--biosafety", imgpath, "Three Tier Biosafety Mechanism", 85)
          .row
            #human_practices_block.section.third
              // 400 x 200 pixels
              img(src=require('./assets/img/Poster--Human_Practices.svg')['default'])
              .info
                .title
                  #human_practices_title
                    h1 Human Practices
                .text
                  #human_practices_content
                    p Our approach to human practices consisted of multiple frameworks that involved interviewing experts, users and regulatory agencies. We made it a point to identify and cover all our major stakeholders, farmers, mill federations and public mills. 

                    - var imgpath = require('./assets/img/Human_Practices--chart.png')['default']
                    +img("human_practices--chart", imgpath, "The process flow diagram for industrial manufacture of the polymer inoculant.", 100)
                    br
                    h2 Farmers
                    p We interviewed farmers from different belts across the country to find out about the differences in harvesting and crushing practices. Apart from these, we found out some key aspects from each belt which have been illustrated in the diagram below.

                    #HP_map_wrapper
                      #human_practices_map
                        include ./assets/img/Human_Practices--map.svg

                      #callout_wrapper
                        #base_callout.callout
                          p Click on the map to learn about our insights from each belt!
                        #Uttarakhand_callout.callout
                          .callout-title
                            h3 Kiccha Sugar Company, Uttarakhand
                          .callout-content
                            p We gained knowledge about mill and sugarcane farmer relationships, and more importantly, the impact of the pandemic on the sugar industry.
                            br
                            img(src=require('./assets/img/HP--Kichha.jpg')['default']).w-60
                            br
                            p.text-center 
                              | Kichha Sugar Company, Uttarakhand
                        #UttarPradesh_callout.callout
                          .callout-title
                            h3 Sugar Mill Federation, Uttar Pradesh
                          .callout-content
                            p Each belt has unique problems when it comes to post harvest losses and our solution would have to be comprehensive.
                            br
                            img(src=require('./assets/img/HP--Ohri.png')['default']).w-50
                            br
                            p.text-center 
                              | Mr Sunil Kumar Ohri from 
                              br 
                              | the Sugar Factories Federation
                        #Maharashtra_callout.callout
                          .callout-title
                            h3 Farmers from Maharashtra
                          .callout-content
                            p Interactions validated our approach to the delivery mechanism involving targeted application of our product right before harvest. They reenforced our biosafety mechanism by alleviating our concerns involving the use of raw sugarcane and any subsequent contamination.
                            br
                            img(src=require('./assets/img/HP--Maharashtra.jpg')['default']).w-60
                            br
                            p.text-center 
                              | A sugarcane farm in Maharashtra
                        #TamilNadu_callout.callout
                          .callout-title
                            h3 Farmers from Tamil Nadu
                          .callout-content
                            p Validated our delivery mechanism and gave us feedback on their expectations from the solution.
                            br
                            img(src=require('./assets/img/HP--TamilNadu.png')['default']).w-60
                            br
                            p.text-center 
                              | A sugarcane farmer from Tamil Nadu
                        #Karnataka_callout.callout
                          .callout-title
                            h3 Farmers from Karnataka
                          .callout-content
                            p There are innate inefficiencies in the system that can be tackled by our solution.
                            br
                            img(src=require('./assets/img/HP--Mandya.jpg')['default']).w-60
                            br
                            p.text-center 
                              | A sugarcane farm in Mandya, Karnataka

                    h2 Global Scope and GMOs
                    p We could conclude from our global study that our project had a global scope and ubiquitous applicability which was not just restricted to India.
                    p André Hermann from Brazil told us that change in the sugarcane industry can be brought about in two ways
                    ol
                      li Through policy changes that involve the use of GMO in plants
                      li By understanding existing agricultural heuristics for the commercial and semi-commercial cultivation of sugarcane.

                    h2 Scaling Up
                    p We reached out to professor and industry experts to gain insights on heuristics of process development for our product.
            #implementation_block.section.third
              // 400 x 200 pixels
              img(src=require('./assets/img/Poster--Implementation_red.svg')['default'])
              .info
                .title
                  #implementation_title
                    h1 Proposed Implementation
                .text 
                  #implementation_content
                    .custom-row
                      .col.f-60
                        div
                          h2 Delivery Mechanism
                          p The delivery mechanism had to be something easy to use and the inoculant needed to have a large shelf life so that the farmer could choose when to use the product. This inoculant would be supplied to the farmer in the form of a cartridge with an injector system.
                      .col.image.f-40
                        img(src = require('./assets/img/Implementation--injection.jpg')['default'] style="margin-top: 0.5rem")

                    h2 Formulation of the Inoculant
                    p The ingredients chosen for the final formulation were designed such that any remnants would be removed during the sugar manufacturing process (for which we have designed experiments for lab scale validation) and have minimal toxicity. This also gives the inoculant a long shelf life too.

                    table
                      caption Table 1: Optimal concentration of each component in the inoculant
                      thead
                        tr
                          th Component
                          th Optimised Concentration (w/w)
                          th Component
                          th Optimised Concentration (w/w)
                      tbody
                        tr
                          td Culture Broth (LB)
                          td 95
                          td Bentonite
                          td 1.4
                        tr
                          td Triton X 100
                          td 3.1
                          td Sorbic Acid
                          td 0.2
                        tr
                          td Carboxymethyl cellulose
                          td 0.1
                          td Potassium Sorbate
                          td 0.2


                    h2 Industrial Scale-Up
                    p We tried to scale up our inoculant to an industrial product. As a starting point in process development. These are the processes and operations that we identified. 

                    img.w-70(src = require('./assets/img/Implementation--BFD.png')['default'])

                    br
                    p Based on these three primary processes, we drew up the process flow diagram.

                    - var imgpath = require('./assets/img/Implementation--PFD.png')['default']
                    +img("implementation-PFD", imgpath, "The process flow diagram for industrial manufacture of the polymer inoculant.", 100)
            #entrepreneurship_block.section.third
              img(src=require('./assets/img/Poster--Entrepreneurship.svg')['default'])
              .info
                .title 
                  #entrepreneurship_title 
                    h1 Entrepreneurship
                .text
                  #entrepreneurship_content
                    p For a product to be commercialised we need an economic model which demonstrates its viability. We conducted a detailed study on the global scope and formulated an economic viability model to help with the industrial scale-up of our product. Initially we aim to test our enzyme on a small scale of 10,000 hectares as a pilot study. 
                    .custom-row
                      .col.f-40
                        p We found land costs to be ₹2,500,000 via interactions with multiple stakeholders and then scaled up the rest of the costs using the adjoining pie chart [Shuler &amp; Kargi (2002)]. Using this, we calculate the total ‘other costs’ to be ₹25,000,000.We aim to test our enzyme on a small scale of 10,000 hectares as a pilot study. 
                      .col.image.f-60
                        - var imgpath = require('./assets/img/Entrepreneurship--PieChart.png')['default']
                        +img("entrepreneurship-pie", imgpath, "Distribution of other costs", 100)

                    p We calculated the price per kg for the inoculant. This price would be decreased in the future as we plan to carry out media formulation studies and come up with a cheaper, industrial and more suited inoculant for our solution.
                    table
                      caption#table1manufacturingcostsassociatedwithourproduct Table 1: Manufacturing costs associated with our product
                      thead
                        tr
                          th Ingredient
                          th Price per lot (INR)
                          th Lots required
                          th Total Material Cost (INR)
                      tbody
                        tr
                          td Luria Bertrani
                          td &#x20B9;10,000
                          td 900
                          td &#x20B9;9,000,000
                        tr
                          td Water
                          td &#x20B9;120
                          td 70
                          td &#x20B9;8,400
                        tr
                          td Triton X 100
                          td &#x20B9;2,000
                          td 4500
                          td &#x20B9;9,000,000
                        tr
                          td CMC
                          td &#x20B9;5,000
                          td 6
                          td &#x20B9;30,000
                        tr
                          td Bentonite powder
                          td &#x20B9;4,000
                          td 1
                          td &#x20B9;4,000
                        tr
                          td Sorbic Acid
                          td &#x20B9;10,000
                          td 6
                          td &#x20B9;60,000
                        tr
                          td Potassium Sorbate
                          td &#x20B9;8,000
                          td 6
                          td &#x20B9;48,000
                        tr
                          td(colspan=3 style="text-align:right;")
                            strong Total cost
                          td
                            strong &#x20B9;18,150,400
                        tr
                          td(colspan=3 style="text-align:right;")
                            strong Costs per kilogram
                          td
                            strong &#x20B9;242

                    p We assumed the inoculant to increase the recovery rate by 4 percent points above the current rate of 12%, that is to 16%.

                    .custom-row
                      .col.image
                        - var imgpath = require('./assets/img/Entrepreneurship--ProfitvsRecovery.png')['default']
                        +img("entrepreneurship-profitvsrecovery", imgpath, "Room for Profit Margin in % vs. Recovery Rate Increase in units of 1%", 100)
                      .col.image
                        - var imgpath = require('./assets/img/Entrepreneurship--ProfitvsArea.png')['default']
                        +img("entrepreneurship-profitvsarea", imgpath, "Room for Profit Margin in % vs. Area in Hectares", 100)

                    p We can market our product in two ways. If the recovery rate is under 3.1%, it can be distributed as a government handout to promote more efficient production of sugar from sugarcane.
                    p On the other hand, if the increase in recovery rate is above 3.1% - which is more likely according to our preliminary calculation - it is a ‘profitable’ venture and will provide an incentive for farmers to buy it themselves. 
                    p Finally, economies of scale (reduction in costs as the scale of production increases) helps to increase profitability as we use the enzyme on a larger area of sugarcane plantations.
          .row
            #sci_comn_block.section.half
              // 600 x 200 pixels
              img(src=require('./assets/img/Poster--Education.svg')['default'])
              .info
                .title
                  #sci_comn_title
                    h1 Science Communication
                .text
                  #sci_comn_content
                    p Science communication and education both go hand-in-hand. Our team took a multifaceted approach towards scientific communication. Our goal being to make science accessible to everyone while still maintaining the highest integrity of research.
                    .custom-row
                      .col.align-items-start
                        div
                          - var imgpath = require('./assets/img/Education--Webinar.png')['default']
                          +img("education-webinar", imgpath, "", 100)
                          br
                          p We had the opportunity to conduct three webinars for over 600 high school students in the 11th and 12th grades belonging to STEM backgrounds of Deeksha Center for Learning, Bangalore
                      .col.align-items-start
                        div
                          - var imgpath = require('./assets/img/Education--iGEMPhrases.png')['default']
                          +img("education-iGEMphrases", imgpath, "", 100)
                          br
                          p In collaboration with the iGEM team from the University of Rochester, we created a short video consisting of ten common ASL phrases used during the Jamboree.
                    .custom-row
                      .col
                        div
                          - var imgpath = require('./assets/img/Education--Abhigyaan-1.png')['default']
                          +img("education-abhigyaan", imgpath, "", 60)
                          br
                          strong Collaboration with Abhigyaan
                          p Along with Abhigyaan, a student-run organization of BITS Goa, we debunked some myths about COVID-19 and promoted safer and smarter ways to deal with the pandemic through posters and infographics. 
                      .col.align-items-start                           
                        div
                          - var imgpath = require('./assets/img/Education--HumansOfiGEM.png')['default']
                          +img("education-humans", imgpath, "", 60)
                          br
                          strong Humans of iGEM
                          p We started Humans of iGEM to help teams connect by hearing each other's stories and sharing their own. 
                    .custom-row
                      .col.image.f-20
                        img(src = require('./assets/img/Education--InnerWheel.png')['default'])
                      .col.f-80
                        div
                          strong Collaboration with iGEM Rochester and The Inner Wheel Club
                          p Along with iGEM Rochester we helped Inner Wheel Foundation with their education initiative.
                    .custom-row
                      .col.f-50
                        div
                          - var imgpath = require('./assets/img/logo.jpg')['default']
                          +img("education-logo", imgpath, "", 60)
                          br
                          strong Application of Engineering Principles to Life Sciences
                          p Along with the Centre for Technical Education of our university, we were able to start a course on synthetic biology for undergraduate students.
                      .col.f-50
                        div
                          - var imgpath = require('./assets/img/Education--LP.jpg')['default']
                          +img("education-LP", imgpath, "")
                          br
                          strong The Language Project
                          p This year, we collaborated with IIT Madras and the University of Rochester to expand on the Language Project  initiative and translated iGEM Resources into various Indian regional languages. 
            #software_block.section.half
              // 600 x 200 pixels
              img(src=require('./assets/img/Poster--Software.svg')['default'])
              .info
                .title 
                  #software_title
                    h1 Contributions and Software
                .text
                  #software_content
                    
                    p We came across iGEM wiki software built by previous iGEM teams: iGEM Virginia 2018, iGEM Toronto 2015 and iGEM Waterloo 2017. While trying to build our wiki with their software, we realized the scope for several improvements and the potential for a holistic solution that combines their functionality. So, we started working from scratch, incorporating their features, but also adding new features like markdown support and URL replacement while uploading to iGEM servers.
                    - var imgpath = require('./assets/img/Contribution--WikiSync.png')['default']
                    +img("software--wikisync", imgpath, "")
                    p Building an iGEM wiki has traditionally required teams to edit code in the browser. Inspired by iGEM Toronto's API and iGEM Virginia's iGEM WikiBrick, we built a continuous deployment tool, iGEM WikiSync, that allows teams to design, code and test their wiki on their local machine. It then automatically uploads all files to iGEM servers.

                    h3 iGEM WikiSync Github Action
                    p We also built a Github Actions plugin for iGEM WikiSync. This allows teams to integrate WikiSync into their CI/CD workflow, ensuring that the wiki always remains in sync with the codebase.

                    - var imgpath = require('./assets/img/Contribution--WikiStarter.png')['default']
                    +img("software--starter", imgpath, "")
                    
                    p While WikiSync only uploads files, the iGEM Wiki Starter Pack is a holistic framework for building iGEM Wikis. Building upon iGEM Virginia's WikiBrick in spirit, we built this framework to provide teams with a mobile-responsive starter template and allow them to focus on the content and design of their wiki. However, the tooling iGEM WikiBrick was built on is now outdated. The Wiki Starter Pack was written from scratch, in order to conform to the latest practices in the web development industry, and to make future updates easier.
                    p The following teams developed their wikis this year using our software and provided feedback towards its improvement: iGEM Stockholm, iGEM MIT MAHE, iGEM UNSW Australia, iGEM Virginia, iGEM UGent Belgium, iGEM NYU Abu Dhabi, iGEM IIT Roorkee, iGEM GZ HFI

                    h2 Improving the Fructose Biosensor, pFruB-FruR
                    p We have added new information learnt from literature and new data and inferences learnt from our mathematical models to the existing part BBa_K2448032 created by iGEM Evry Paris-Saclay.
          .row
            #acknowledgements_block.section.full
              // 400 x 200 pixels
              img(src=require('./assets/img/Poster--Title_red.svg')['default'])
              .info
                .title
                  #acknowledgements_title
                    h1 Acknowledgements
                .text
                  #acknowledgements_content
                  p We would like to extend our heartfelt gratitude to all our supporters for giving us this opportunity to participate in iGEM 2020. Our project would have not culminated without their valuable support, both financial and otherwise. We would like to thank the BITS Alumni Association (BITSAA), for their support and help with reaching out to our alumni. Furthermore, we would also like to thank the our Department of Biological Sciences as well as the Director for their consistent support and faith during the entire course of the project.
                  p We would also like to thank Benchling and Twist Biosciences for their support during the iGEM season.

                  p 
                    strong Advisor: 
                    | Varsha Jaisimha
                  p 
                    strong Consultation: 
                    | Andre Hermann, Dr. Anirban Roy, Ashish Dagade, Dr. Bejoy Thomas, Rohan Ranganath, Shubhankar Londhe, Ujjal Sharma, Dr. Vivek Rangarajan

        .poster_w.display
          #section_title
          #section_text

